<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
  {{{body}}}
  <footer class="footer fixed-bottom d-flex align-items-end justify-content-center">
    <p>
      Contributors: <a href="https://github.com/ewirtz3" target="_blank">Emily Wirtz</a>, <a
        href="https://github.com/wslifer" target="_blank">Wesley Slifer</a>, <a href="https://github.com/jawalton6616"
        target="_blank">Jacob Walton</a>, <a href="https://github.com/hansbrougha" target="_blank">Andrew Hansbrough</a>
      </br>
      <img src="https://img.shields.io/npm/l/sequelize">
      </br>
      Copyright 2020 | projectYou
      </br>
      <a href="http://www.freepik.com">Images designed by Freepik</a>
    </p>

  </footer>
</body>

</html>