<div class="jumbotron jumbotron-fluid profile-header">
    <div class="container">

        <h1 class="display-4">
            FITNESS TRACKER
            <img src="https://image.flaticon.com/icons/png/512/95/95788.png" alt="fitness icon" height="8%" width="8%"
                class="header-icon" />
        </h1>
        <p class="lead">

            You are currently logged in as <span
                style="font-weight: bolder; font-size:26px;">{{ User.username }}</span>.
        </p>
        <p class="lead">
            Keep track of your exercise, fluid intake, and sleep below!
        </p>
        <p id="clock" class="clock lead">Welcome...</p>
    </div>
</div>

<div class="row">
    <div class="you-calc">

        <div class="card text-white bg-info mb-3 container" id="fit-form">
            <div class="card-header"><span
                    style="font-weight: bolder; font-size:18px;"></span>{{ User.first_name }}</span>
            </div>
            <div class="card-body form">
                <h5 class="card-title"><em>Add exercise, sleep, and fluid intake here</em></h5>
                <form>
                    <hr />
                    <div class="form-row" style="width: 100%;">
                        <div style="width: 100%;">
                            <input id="exercise-text" type="number" min="0" max="24"
                                onKeyPress="if(this.value.length>1) return false;" style="width: 100%;"
                                class="form-control" placeholder="Hours exercised" />

                            <button style="width: 100%;" type="button" class="btn btn-primary submit-exercise">
                                Submit Exercise
                            </button>
                        </div>

                        <div class="form-row" style="width: 100%;">

                            <input id="sleep-text" style="width: 100%; display: block;" type="number" min="0" max="24"
                                onKeyPress="if(this.value.length>1) return false;" class="form-control"
                                placeholder="Hours of sleep" />
                            <button style="width: 100%;" type="button" class="btn btn-primary submit-sleep">
                                Submit Sleep
                            </button>
                        </div>


                        <div class="form-row" style="width: 100%;">
                            <select style="width: 100%;" class="custom-select my-1 mr-sm-2"
                                placeholder="What did you drink today?"
                                id="inlineFormCustomSelectPref fluid-opt fluid-text" name="fluid"
                                onchange="checkValue(this.value);">
                                <option value="water">Water</option>
                                <option value="sports-drink">Sports drink</option>
                                <option value="juice">Juice</option>
                                {{!-- Display input field when "other" is selected --}}

                                <!-- <option value="other">Other</option>
                <input
                  type="text"
                  name="other-fluid"
                  id="fluid"
                  placeholder="What did you drink?"
                  style="display: none;"
                /> -->
                            </select>
                            <input style="width: 100%;" type="number" min="0" max="99"
                                onKeyPress="if(this.value.length>1) return false;" class="form-control"
                                id="numOfGlasses" placeholder="Number of glasses" />
                            <button type="button" style="width: 100%;" class="btn btn-primary submit-fluid">
                                Submit Fluid Intake
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="you-display">
        <div class="card text-center display-stats">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item" data-query="exercise">
                        <a class="nav-link exerciseBtn active" href="javascript:;">Exercise</a>
                    </li>

                    <li class="nav-item" data-query="fluid">
                        <a class="nav-link fluidBtn" href="javascript:;">Fluid Intake</a>
                    </li>
                    <li class="nav-item" data-query="sleep">
                        <a class="nav-link sleepBtn" href="javascript:;">Sleep</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">

                <div class="user-data">
                    <h5 id="exercise-data"></h5>
                    <h5 id="fluid-data"></h5>
                    <h5 id="sleep-data"></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="/js/post.js"></script>

<script>
    const exerciseBtn = $(".exerciseBtn");
    const fluidIntakeBtn = $(".fluidBtn");
    const sleepBtn = $(".sleepBtn");
    //$("#exercise-data").html(`<img src="https://image.flaticon.com/icons/svg/2928/2928158.svg" width="80px" height="80px" alt="exercise icon"/><br>this...`);

    exerciseBtn.click(function () {
        $(this).addClass("active");
        fluidIntakeBtn.removeClass("active");
        sleepBtn.removeClass("active");
        //add data from exercise table
        $(".user-data").html(`<img src="https://image.flaticon.com/icons/svg/2928/2928158.svg" width="80px" height="80px" alt="exercise icon"/>{{Exercise.exercise_duration}}<br>...is...`);
    });

    fluidIntakeBtn.click(function () {
        $(this).addClass("active");
        exerciseBtn.removeClass("active");
        sleepBtn.removeClass("active");
        //add data from fluid table
        $(".user-data").html(`<img src="https://image.flaticon.com/icons/svg/2907/2907404.svg" width="80px" height="80px" alt="water icon"/><br>...is...`);

    });

    sleepBtn.click(function () {
        $(this).addClass("active");
        exerciseBtn.removeClass("active");
        fluidIntakeBtn.removeClass("active");
        //add data from sleep table
        $(".user-data").html(`<img src="https://image.flaticon.com/icons/svg/865/865789.svg" width="80px" height="80px" alt="sleep icon"/></h4><br>...progress!!!<br><em>by: 
            {{ Exercise.exercise_duration }}</em>`);

    });



</script>

{{!-- <script src="/js/post.js"></script>
<script src="/js/view.js"></script> --}}