<div class="jumbotron jumbotron-fluid profile-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 about-logo text-dark">
                <img src="/img/color-logo.png" alt="projectYou-logo" class="logo" />
                <p>
                    TURN ONE DAY INTO DAY ONE.
                    </br>
                    You are currently logged in as <span class="log-in">{{ User.username }}</span>.
                </p>
                <p id="clock" class="clock">Welcome...</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>



<div class="row" id="grad">
    <aside class="you-calc">

        <div class="card text-white mb-3 container" id="fit-form">
            <div class="card-header">Welcome, <span
                    style="font-weight: bolder; font-size:18px;"></span>{{ User.first_name }}!</span>
            </div>
            <div class="card-body form">
                <h5 class="card-title"><em>Add exercise, sleep, and fluid intake here</em></h5>
                <form>
                    <hr />
                    <div class="form-row" style="width: 100%;">
                        <div style="width: 100%;">
                            <input id="exercise-text" type="number" min="0" max="24"
                                onKeyPress="if(this.value.length>1) return false;" style="width: 100%;"
                                class="form-control" placeholder="Hours exercised" />

                            <button style="width: 100%;" type="button" class="btn btn-info submit-exercise">
                                Submit Exercise
                            </button>
                        </div>

                        <div class="form-row" style="width: 100%;">

                            <input id="sleep-text" style="width: 100%; display: block;" type="number" min="0" max="24"
                                onKeyPress="if(this.value.length>1) return false;" class="form-control"
                                placeholder="Hours of sleep" />
                            <button style="width: 100%;" type="button" class="btn btn-info submit-sleep">
                                Submit Sleep
                            </button>
                        </div>


                        <div class="form-row" style="width: 100%;">
                            <select style="width: 100%;" class="custom-select fluid-opt my-1 mr-sm-2"
                                placeholder="What did you drink today?" id="inlineFormCustomSelectPref fluid-text"
                                name="fluid" onchange="checkValue(this.value);">
                                <option value="water">Water</option>
                                <option value="sports drink">Sports drink</option>
                                <option value="juice">Juice</option>
                            </select>
                            <input style="width: 100%;" type="number" min="0" max="99"
                                onKeyPress="if(this.value.length>1) return false;" class="form-control numOfGlasses"
                                placeholder="Number of glasses" />
                            <button type="button" style="width: 100%;" class="btn btn-info submit-fluid">
                                Submit Fluid Intake
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </aside>
    <main class="you-display">
        <div class="card text-center display-stats">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item" data-query="exercise">
                        <a class="nav-link exerciseBtn active" href="javascript:;">Exercise</a>
                    </li>

                    <li class="nav-item" data-query="fluid">
                        <a class="nav-link fluidBtn" href="javascript:;">Fluid Intake</a>
                    </li>
                    <li class="nav-item" data-query="sleep">
                        <a class="nav-link sleepBtn" href="javascript:;">Sleep</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">

                <section class="user-data">
                    <div id="form-instr"></div>
                    <div id="exercise-data"></div>
                    <div id="fluid-data"></div>
                    <div id="sleep-data"></div>
                </section>
            </div>
        </div>
    </main>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="/js/post.js"></script>

<script>
    const exerciseBtn = $(".exerciseBtn");
    const fluidIntakeBtn = $(".fluidBtn");
    const sleepBtn = $(".sleepBtn");
    const formInstructions = $("#form-instr").html(`<h5>Use the form to track your stats!</h5>`);

    exerciseBtn.click(function () {
        $(this).addClass("active");
        fluidIntakeBtn.removeClass("active");
        sleepBtn.removeClass("active");
        $("#exercise-data").removeClass("hide")
        $("#fluid-data").addClass("hide")
        $("#sleep-data").addClass("hide")
        formInstructions.html("")


    });

    fluidIntakeBtn.click(function () {
        $(this).addClass("active");
        exerciseBtn.removeClass("active");
        sleepBtn.removeClass("active");
        $("#exercise-data").addClass("hide")
        $("#fluid-data").removeClass("hide")
        $("#sleep-data").addClass("hide")
        formInstructions.html("")


    });

    sleepBtn.click(function () {
        $(this).addClass("active");
        exerciseBtn.removeClass("active");
        fluidIntakeBtn.removeClass("active");
        $("#exercise-data").addClass("hide")
        $("#fluid-data").addClass("hide")
        $("#sleep-data").removeClass("hide")
        formInstructions.html("")


    });



</script>