<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">
            FITNESS TRACKER
            <img src="https://image.flaticon.com/icons/png/512/95/95788.png" alt="fitness icon" height="8%" width="8%"
                class="header-icon" />
        </h1>
        <p class="lead">
            You are currently logged in as {{whatever}}. Keep track of your
            exercise, fluid intake, and sleep below!
        </p>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" data-query="exercise">
                <a class="nav-link active exerciseBtn" href="#">Exercise</a>
            </li>

            <li class="nav-item" data-query="fluid">
                <a class="nav-link fluidBtn" href="#">Fluid Intake</a>
            </li>
            <li class="nav-item" data-query="sleep">
                <a class="nav-link sleepBtn" href="#">Sleep</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Your stats</h5>
        <p class="card-text">
            display user data here
        </p>
    </div>
</div>