.list-group-item {
  line-height: 2.5;
}
.pageTitle {
  color: coral;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.aboutApp {
  background: teal;
}
.display-stats {
  margin: 10px;
  height: 550px;
  background-color: lightgrey;
}
.footer {
  text-align: center;
  height: 5%;
  background-color: lightgrey;
  padding: 5px;
  color: grey;
}
#fit-form {
  margin: 10px;
  height: 550px;
  padding: 10px;
}
button {
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
  color: coral;
}
.jumbotron {
  text-align: center;
}
.header-icon {
  width: 8%;
  height: 8%;
  opacity: 70%;
}
